/*RESET*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; /*Ne change pas la taille de ma boite si j'ajoute des padding ou des border. je garde le controle de ma boite*/
}

/*--------------------------------------------------------TEXTE--------------------------------------------------------------------*/
.suppuce{
    list-style-type: none;
}

.no-line{
    text-decoration: none;
}

.bold{
    font-weight: 800;
}

.txt-center{
    text-align: center;
}

.majuscule{
    text-transform: uppercase;
}

/*----------------------------------------------------CLASSE DE TAILLE------------------------------------------------------*/
